<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- 此xml在spring-boot-1.5.3.RELEASE.jar里 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!--连接数据库配置-->
    <appender name="db-classic-oracle" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">
                <driverClassName>com.mysql.cj.jdbc.Driver</driverClassName>
                <url>jdbc:mysql://omv:3306/iblogs?serverTimezone=Asia/Shanghai</url>
                <username>dev</username>
                <password>123456</password>
            </dataSource>
        </connectionSource>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="db-classic-oracle" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>